In [1]:
import pandas as pd
import statistics as sts
import scipy.stats

Exercise 1

If I want to conduct an ANOVA test on my data, which of the following commands should I use? Note: x and y represent vectors.

aov(x ~ y)

Exercise 2

Given the following printed results:
    
sample estimates:

mean of x mean of y 

 52.10000  68.98889 

Determine which of the following tests was used on the data above.

Independent T-Test

For this exercise, you’ll be working through several steps to determine if two given sets of data that belong to the same sample or group have an average measurement that is statistically significant to each other or not.
Given the following table, import the data into two individual vectors. You can name these vectors however you like.

In [2]:
before = [18, 21, 16, 22, 19, 24, 17, 21, 23, 18]
after = [22, 25, 17, 24, 16, 29, 20, 23, 19, 20]

In [3]:
d = {'before':[18, 21, 16, 22, 19, 24, 17, 21, 23, 18], 'after':[22, 25, 17, 24, 16, 29, 20, 23, 19, 20]}

In [4]:
df = pd.DataFrame(data=d )

In [5]:
df

   before  after
0      18     22
1      21     25
2      16     17
3      22     24
4      19     16
5      24     29
6      17     20
7      21     23
8      23     19
9      18     20

In [6]:
t, p = scipy.stats.ttest_ind(a=df.before,b=df.after, equal_var = False)

In [7]:
print("T-test value is: ",t)
print("p-value value is: ",p)

T-test value is:  -1.064304168380384
p-value value is:  0.3030720816861898

Enter the p-value exactly as shown in your findings. DO NOT ROUND!

0.1206

Statistical Significance

Based on the p-value found, which of the following conclusions best describes the relationship between students’ before and after scores.

There is no statistically significant difference between the students’ before and after scores.

Hypothesis

Given the following hypotheses:

    Null Hypothesis: The teaching intervention resulted in no significant difference between the students’ before and after scores.
        
    Alternative Hypothesis: The teaching intervention resulted in a significant difference between the students’ before and after scores.

Which of the following statements is best supported by the results?

We failed to reject the null hypothesis.