Exercise 1

Which of the following p-values show that the data assessed is independent of each other. In other words, the data does not show significant association.

0.09

Exercise 2

Assuming that the variables represent vectors of data, which of the following syntax is correct for calculating logistic regression?

summary(glm(y ~ x, family = "binomial"))

The data above represents the average salary earned based on years of experience. Your goal is to determine if Salary is dependent on or is strongly associated with Years of Experience

In [1]:
import pandas as pd

import statsmodels.api as sm
import statsmodels.formula.api as smf
from statsmodels.formula.api import ols

from sklearn.linear_model import LinearRegression

In [2]:
years = [3, 6, 8, 10, 14, 18, 20, 21, 22, 23]
salary = [37731, 56642, 54445, 57189, 57081, 83088, 93940, 91738, 98273, 101302]

In [3]:
d = {"years": [3, 6, 8, 10, 14, 18, 20, 21, 22, 23], "salary" : [37731, 56642, 54445, 57189, 57081, 83088, 93940, 91738, 98273, 101302]}

In [4]:
df = pd.DataFrame(d)

In [5]:
df

   years  salary
0      3   37731
1      6   56642
2      8   54445
3     10   57189
4     14   57081
5     18   83088
6     20   93940
7     21   91738
8     22   98273
9     23  101302

In [6]:
y = df['salary']
X = df['years']

In [7]:
X = sm.add_constant(X)

C:\ProgramData\Anaconda3\lib\site-packages\statsmodels\tsa\tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

In [8]:
model = sm.OLS(y,X).fit()

In [9]:
model.summary()

C:\ProgramData\Anaconda3\lib\site-packages\scipy\stats\stats.py:1541: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=10
  warnings.warn("kurtosistest only valid for n>=20 ... continuing "

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 salary   R-squared:                       0.929
Model:                            OLS   Adj. R-squared:                  0.920
Method:                 Least Squares   F-statistic:                     104.3
Date:                Sun, 17 Jul 2022   Prob (F-statistic):           7.25e-06
Time:                        06:21:15   Log-Likelihood:                -100.81
No. Observations:                  10   AIC:                             205.6
Df Residuals:                       8   BIC:                             206.2
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       2.948e+04   4737.810      6.223      0.000    1.86e+04    4.04e+04
years       3010.9105    294.792     10.214      0.000    2331.119    3690.702
==============================================================================
Omnibus:                        8.719   Durbin-Watson:                   1.741
Prob(Omnibus):                  0.013   Jarque-Bera (JB):                3.409
Skew:                          -1.159   Prob(JB):                        0.182
Kurtosis:                       4.675   Cond. No.                         37.4
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

Pr(>|t|) Value

Select the exact Pr(>|t|) value that shows how strongly Salary is dependent on Years of Experience.

7.25e-06

Significant Association

Based on the Pr(>|t|) value found, which of the following conclusions best describes the relationship between Salary and Years of Experience.

Salary is dependent on Years of Experience

Given new values for Years of Experience called new_years:

What is the predicted new Salary for 30 Years of Experience?

In [10]:
new_years = pd.DataFrame({"years" : [4, 5, 7, 9, 11, 12, 13, 29, 30, 31]})

In [11]:
new_years

   years
0      4
1      5
2      7
3      9
4     11
5     12
6     13
7     29
8     30
9     31

In [12]:
lr = LinearRegression()

In [13]:
y = df[['salary']]
X = df[['years']]

In [14]:
lr.fit(X,y)

LinearRegression()

In [15]:
lr.predict(new_years)

array([[ 41528.3396462 ],
       [ 44539.25015609],
       [ 50561.07117586],
       [ 56582.89219563],
       [ 62604.7132154 ],
       [ 65615.62372529],
       [ 68626.53423517],
       [116801.10239334],
       [119812.01290323],
       [122822.92341311]])

Answer: 119812.01