In [1]:
import pandas as pd 
import matplotlib
import statistics as sta
#loading our csv

data= pd.read_csv('home_runs.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Player         10 non-null     object
 1   Home Runs      10 non-null     int64
 2   Active Player  10 non-null     object
dtypes: int64(1), object(2)
memory usage: 368.0+ bytes

In [2]:
data.head(5)

           Player  Home Runs Active Player
0     Barry Bonds        762            No
1      Hank Aaron        755            No
2       Babe Ruth        714            No
3  Alex Rodriguez        696            No
4     Willie Mays        660            No

In [3]:
data.describe()

        Home Runs
count   10.000000
mean   668.000000
std     61.732397
min    586.000000
25%    616.500000
50%    658.000000
75%    709.500000
max    762.000000

In [4]:
data_mode = sta.mode(data["Home Runs"])
data_mode

762

In [5]:
data_mean = sta.mean(data["Home Runs"])
data_mean

668

In [6]:
data_median = sta.median(data["Home Runs"])
data_median

658.0

In [7]:
data_range = data["Home Runs"].max() - data["Home Runs"].min()
data_range

176

In [8]:
data_sum = data["Home Runs"].sum()
data_sum

6680