In [1]:
import matplotlib
import statistics as sta
import pandas as pd
from scipy.stats import pearsonr
from scipy.stats import chisquare
from scipy.stats import chi2_contingency
import matplotlib.pyplot as plt
from scipy.stats import chisquare
import matplotlib.pyplot as plt

#given data

x=[27, 32, 38, 94, 70, 29, 17, 8, 4, 3 ]
y=[56, 45, 40, 10, 22, 33, 75, 85, 90, 95]

In [2]:
a = pearsonr(x,y)
a

(-0.9138437650000317, 0.0002170209605569875)

In [3]:
a[0].round(3)

-0.914

In [4]:
data= pd.read_csv('gender-test.csv')
data.head()

  Gender  Test
0      M     1
1      M     1
2      M     1
3      M     1
4      M     1

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Gender  50 non-null     object
 1   Test    50 non-null     int64
dtypes: int64(1), object(1)
memory usage: 928.0+ bytes

In [6]:
data.Test = data.Test.astype('int')

In [7]:
chisquare(data.Test)

Power_divergenceResult(statistic=7.35483870967742, pvalue=0.9999999999993139)

In [8]:
stat, p, dof, expected = chi2_contingency(data.Test)

In [9]:
stat

0.0

In [10]:
p

1.0

In [11]:
dof

0

In [12]:
expected

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 2., 2., 2., 2., 2., 2., 2., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 2., 2., 2., 2., 2.])

What is our p-value and what assumptions can we make based off that?

Since the p-value of 0.7405 is not less than or equal 0.05, we fail to reject the null hypothesis meaning the calculations show that there is no significant association between gender and passing a math test.