In [1]:
import pandas as pd

Your task is to sort the csv file so that when printed, the system will return the list of Items in descending order based on CostPerPound

In [2]:
df1 = pd.read_csv("costs1.csv")
df1

           Item  CostPerPound
0  Strawberries          1.99
1         Pears          1.00
2        Grapes          1.50
3         Limes          0.50

In [3]:
df1.sort_values(by="CostPerPound", ascending=False)

           Item  CostPerPound
0  Strawberries          1.99
2        Grapes          1.50
1         Pears          1.00
3         Limes          0.50

In [4]:
df2 = pd.read_csv("costs2.csv")
df2

        Item  CostPerPound
0    Arugula          5.71
1    Carrots          0.65
2     Ginger          3.99
3     Garlic          2.99
4    Spinach          4.50
5  Mushrooms          3.00

In [5]:
df2.sort_values(by="CostPerPound", ascending=False)

        Item  CostPerPound
0    Arugula          5.71
4    Spinach          4.50
2     Ginger          3.99
5  Mushrooms          3.00
3     Garlic          2.99
1    Carrots          0.65

In [6]:
df3 = pd.read_csv("costs3.csv")
df3

             Item  CostPerPound
0  Chicken Thighs          1.49
1      Beef Steak          5.49
2      Pork Chops          1.99

In [7]:
df3.sort_values(by="CostPerPound", ascending=False)

             Item  CostPerPound
1      Beef Steak          5.49
2      Pork Chops          1.99
0  Chicken Thighs          1.49