Exercise 1

Which of the following commands is used correctly to store the data in the variables name and age in a data frame called people?

people <- data.frame(name, age)

Exercise 2

Given the following printed console data frame called df:

Which of the following will be printed if I use the command print(tail(df, n = 3))?

In [ ]:
    h   w
4  72 167
5  66 124
6  66 115

Exercise 4

In [16]:
df1 = head(read.csv("data1.csv"),2, row.names = FALSE)
df2 = tail(read.csv("data1.csv"),3, row.names = FALSE)

In [17]:
df1

  Color Count Male Female
1 Red   56    30   26
2 Blue  78    38   40

In [18]:
df2

  Color  Count Male Female
6 Purple 32    21   11
7 Pink   23     8   15
8 Other  39    19   20

In [19]:
rbind(df1,df2)

  Color  Count Male Female
1 Red    56    30   26
2 Blue   78    38   40
6 Purple 32    21   11
7 Pink   23     8   15
8 Other  39    19   20